<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30319094479-ruc6pvekmmtu6uvhq84eq17ri48pl664.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30319094479-ruc6pvekmmtu6uvhq84eq17ri48pl664</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30319094479-0qfa2ecd8ra5ldgaupjo9cn1pgcafk3k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI6gjT2RAmVJ4c7Gp_9gqUFowhOAKrV2s</string>
	<key>GCM_SENDER_ID</key>
	<string>30319094479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.midas.bloom</string>
	<key>PROJECT_ID</key>
	<string>bloom-31efb</string>
	<key>STORAGE_BUCKET</key>
	<string>bloom-31efb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30319094479:ios:43a2ed4b4dd5a804be65ba</string>
</dict>
</plist>